.main-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
  padding-bottom: 36px;
  width: 1080px;

  @media (max-width: 1140px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .box {
    position: relative;
    box-sizing: border-box;
    padding: 48px;
    height: 922px;

    &.content {
      flex-basis: 420px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 200px;
      padding-left: 0px;

      @media (max-width: 1140px) {
        flex-basis: 0px;
        padding: 0px;
        padding-top: 48px;
        max-width: 420px;
      }

      @media (max-width: 636px) {
        padding: 48px 24px 0 24px;
      }

      .logo {
        margin-bottom: 36px;
        width: 100%;

        @media (max-width: 636px) {
          margin-bottom: 12px;
        }
      }

      .description {
        font-size: 12px;
        line-height: 24px;
        color: #898989;
        font-weight: 500;
        text-align: right;

        @media (max-width: 1140px) {
          text-align: center;
        }
      }

      .get-the-app {
        margin-top: 60px;

        @media (max-width: 1140px) {
          margin-top: 12px;
        }

        .text {
          margin-bottom: 12px;
          color: #444;
          font-weight: 500;
          font-size: 14px;
          text-align: center;
        }

        .images {
          display: flex;
          justify-content: center;

          img {
            height: 40px;

            &:first-child {
              margin-right: 12px;
            }
          }
        }
      }
    }

    &.phone {
      flex: 1;
      background: transparent url(/shadow.png) repeat-y top left;
      transform-origin: center top;
      user-select: none;

      img {
        pointer-events: none;
      }

      @media (max-width: 1140px) {
        width: 610px;
        flex-basis: 930px;
        background: none;
      }

      @media (max-width: 636px) {
        width: 490px;
        flex-basis: 1000px;
        background: none;
      }

      @media (max-width: 512px) {
        transform: scale(0.8);
        flex-basis: 800px;
      }

      @media (max-width: 416px) {
        transform: scale(0.6);
        flex-basis: 600px;
      }

      @media (max-width: 312px) {
        transform: scale(0.5);
        flex-basis: 500px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 40px;
        height: 100px;
        background: transparent url(/shadow_top.png) repeat-y top left;

        @media (max-width: 1140px) {
          background: none;
        }
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 40px;
        height: 100px;
        background: transparent url(/shadow_bottom.png) repeat-y top left;

        @media (max-width: 1140px) {
          background: none;
        }
      }
    }

    .android-app {
      position: absolute;
      top: 58px;
      left: 68px;
      width: 476px;
      height: 832px;
      z-index: 2;

      @media (max-width: 1140px) {
        left: 0px;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 10px;
        background: black;
        height: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        transform: scale(.78);
        box-shadow: 0px 0px 6px 3px hsla(0, 0%, 0%, 0.25);
      }

      .phone-image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 442px;
        z-index: 3;
      }

      .screenshot {
        position: absolute;
        top: 68px;
        left: 25px;
        width: 400px;
        height: 708px;
        overflow: hidden;
        z-index: 4;

        img {
          width: 402px;
          height: 715px;
        }
      }
    }

    .ios-app {
      position: absolute;
      top: 58px;
      left: 208px;
      width: 434px;
      height: 863px;
      z-index: 3;

      @media (max-width: 1140px) {
        left: 140px;
      }

      @media (max-width: 636px) {
        top: 158px;
        left: 60px;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 10px;
        background: black;
        height: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        transform: scale(.78);
        box-shadow: 0px 0px 6px 2px hsla(0, 0%, 0%, 0.25);
      }

      .phone-image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 434px;
        z-index: 3;
      }

      &.manual {
        .screenshot {
          img {
            transition: opacity 0.2s;
          }
        }
      }

      .screenshot {
        position: absolute;
        top: 26px;
        left: 30px;
        width: 374px;
        height: 811px;
        overflow: hidden;
        background: white;

        img {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 377px;
          height: 817px;
          opacity: 1;
          transition: opacity 2s;

          &.hidden {
            opacity: 0;
          }
        }
      }
    }
  }
}

.main-footer {
  padding: 30px 24px;
  max-width: 760px;
  margin: 0 auto;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    li {
      padding: 6px 12px;
      text-align: center;

      a {
        font-size: 10px;
        color: rgb(142, 142, 142);
        text-decoration: none;
        font-size: 12px
      }
    }
  }
}
